<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
                >
<mapper namespace="mapper.ISysManagementMapper">

    <select id="getAccountList" resultType="pojo.SysUser">
        SELECT * FROM sys_admin
    </select>
    <select id="getRoleList" resultType="pojo.SysRole" >

        SELECT * FROM sys_role
    </select>
    <select id="getAuthorityList" resultType="pojo.SysAuthority">
        SELECT * FROM sys_authority
    </select>
    
    <insert id="insertSysUser" parameterType="pojo.SysUser" useGeneratedKeys="true" keyProperty="sysAdminId">
        INSERT INTO sys_admin (adminName,admin_password,active,sys_admin_roles,create_time)
        VALUES  (#{adminName},#{adminPassword},#{active},#{sysAdminRoles},#{createTime})
    </insert>

    <select id="getSysUserById" resultType="pojo.SysUser" parameterType="String">
        SELECT * FROM sys_admin WHERE sys_admin_id=#{sysAdminId}
    </select>

    <update id="updateSysUser" parameterType="pojo.SysUser">
        <selectKey keyProperty='sysAdminId' resultType='int' order='AFTER'>
            SELECT sys_admin_id FROM sys_admin WHERE
            sys_admin_id = #{sysAdminId}
        </selectKey>
        UPDATE sys_admin SET
        active=#{active},
        <if test="adminPassword != ''">
        admin_password=#{adminPassword},
        </if>
        sys_admin_roles=#{sysAdminRoles}
        WHERE
        sys_admin_id=#{sysAdminId}
    </update>
</mapper>